<!-- Main tool bar-->
<div id="toolbox" class="toolbox">
    <button mat-stroked-button color="basic" id="module" class="buttonMargin" (click)="showModal('moduleInputs')">Module inputs</button>
    <button mat-stroked-button color="basic" id="module" class="buttonMargin" (click)="showModal('moduleOutputs')">Module outputs</button>
    <button mat-stroked-button color="basic" id="addAction" class="buttonMargin" (click)="showModal('action')">Action</button>
    <button mat-stroked-button color="basic" id="addDiamondIf" class="buttonMargin" (click)="showModal('if')">If</button>
    <button mat-stroked-button color="basic" id="addDiamondCase" class="buttonMargin" (click)="showModal('case')">Case</button>
    <button mat-stroked-button color="basic" id="addJoin" class="buttonMargin" (click)="addDiamondJoinToGraph()">Join</button>
    <button mat-stroked-button color="basic" id="addStart" class="buttonMargin"  (click)="addStartToGraph()">Start</button>
    <button mat-stroked-button color="basic" id="addEnd" class="buttonMargin"  (click)="addEndToGraph()">End</button>
    <button mat-stroked-button color="basic" id="addLoop" class="buttonMargin" (click)="showModal('loop')">Loop</button>

</div>
<br>
<div id="toolbox2" class="toolbox">
    <button mat-stroked-button color="basic" id="generate" class="buttonMargin" (click)="generateCode()">Generate code</button>
    <button mat-stroked-button color="basic" id="save" class="buttonMargin" (click)="saveDiagram()">Save diagram</button>
    <button mat-stroked-button color="basic" id="load" class="buttonMargin" (click)="loadDiagram()">Load diagram</button>
    <input type="file" id="jsonUpload" value="Load Diagram">
    <mat-slide-toggle id="paper-mode" #toggle (change)="changeDrawingMode($event)" color="basic">{{toggleCaption}}</mat-slide-toggle>
</div>

<br>

<!-- Context menu for elements -->
<div id="element-context-menu" class="element-context-menu">
    <ul class="menu-options">
        <li class="menu-option" (click)="onShowElementPropertiesClicked()">Show element properties</li>
        <li class="menu-option-delete" (click)="onDeleteElementClicked()">Delete element</li>
    </ul>
</div>

<!-- Context menu for delete option only -->
<div id="delete-context-menu" class="element-context-menu">
    <ul class="menu-options">
        <li class="menu-option-delete" (click)="onDeleteElementClicked()">Delete element</li>
    </ul>
</div>

<!-- Context menu for links -->
<div id="link-context-menu">
    <ul class="menu-options">
        <li class="menu-option" (click)="onShowLinkPropertiesClicked()">Show link properties</li>
    </ul>
</div>

<!-- Modal windows -->
<div id="modalError" class="modal">
    <div class="modal-content">
        <p class="errorMessage">{{this.errorMessage}}</p>
        <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
    </div>
</div>

<div id="modalAction" class="modal">
    <div class="modal-content">
        <form id = "actionForm">
            <label for="actionCaption">Action caption:</label><br>
            <input #actionCaption type="text" id="actionCaption" name="actionCaption" placeholder="Action caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(actionCaption.value) : addActionToGraph(actionCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalIf" class="modal">
    <div class="modal-content">
        <form id="ifForm"> 
            <label for="ifCaption">If caption:</label><br>
            <input #ifCaption type="text" id="ifCaption" name="ifCaption" placeholder="If caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(ifCaption.value) : addDiamondIfToGraph(ifCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalCase" class="modal">
    <div class="modal-content">
        <form id="caseForm">
            <label for="caseCaption">Case caption:</label><br>
            <input #caseCaption type="text" id="caseCaption" name="caseCaption" placeholder="Case caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(caseCaption.value) : addDiamondCaseToGraph(caseCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalIfLink" class="modal">
    <div class="modal-content">
        <form>
            <label for="ifLinkCaption">If link caption (true or false):</label><br>
            <input #ifLinkCaption type="text" id="ifLinkCaption" name="ifLinkCaption" placeholder="If link caption..." value="{{this.activePaperLinkCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateLinkCaption(ifLinkCaption.value, 'ifLink') : null"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalCaseLink" class="modal">
    <div class="modal-content">
        <form>
            <label for="caseLinkCaption">Case link caption:</label><br>
            <input #caseLinkCaption type="text" id="caseLinkCaption" name="caseLinkCaption" placeholder="Case link caption..." value="{{this.activePaperLinkCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateLinkCaption(caseLinkCaption.value, 'caseLink') : null"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalLoop" class="modal">
    <div class="modal-content">
        <form id="loopForm">
            <label for="loopContent">Loop content:</label><br>
            <textarea #loopContent id="loopContent" name="loopContent" rows="10" placeholder="Loop content..."></textarea>
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateLoopContent(loopContent.value) : addLoopToGraph('Loop', loopContent.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="inputTable" class="modal">
    <div class="modal-content">
        <h3>Inputs</h3>
        <mat-table [dataSource]="moduleInputs">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Input name</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Input name..." [value]="element.name" [(ngModel)]="element.name">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="bits">
                <mat-header-cell *matHeaderCellDef>Bit size</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Bits..." [value]="element.bits" [(ngModel)]="element.bits">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="formActions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="deleteModuleInput(element)">Delete</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['name', 'bits', 'formActions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'bits', 'formActions']"></mat-row>
        </mat-table>
        <input class="insertButton" type="button" value="Add new input" (click)="addInput()">
        <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
    </div>
</div>

<div id="outputTable" class="modal">
    <div class="modal-content">
        <h3>Outputs</h3>
        <mat-table [dataSource]="moduleOutputs">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Output name</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Output name..." [value]="element.name" [(ngModel)]="element.name">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="bits">
                <mat-header-cell *matHeaderCellDef>Bit size</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Bits..." [value]="element.bits" [(ngModel)]="element.bits">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="formActions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="deleteModuleOutput(element)">Delete</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['name', 'bits', 'formActions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'bits', 'formActions']"></mat-row>
        </mat-table>
        <input class="insertButton" type="button" value="Add new output" (click)="addOutput()">
        <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
    </div>
</div>
