.buttonMargin {
    margin-right: 10px;
    border: 1px solid black;
}

#element-context-menu {
    width: 180px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

#link-context-menu{
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

.menu-options {
    list-style: none;
    padding: 1px 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.menu-option-delete{
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option-delete:hover{
    background: rgb(144, 0, 32);
    color: white;
}