.toolbox {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 4%;
    align-items: center;
    display: flex;
}

.buttonMargin {
    margin-right: 10px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.errorMessage {
    font-size: larger;
    font-weight: bold;
}

.inputUpload {
    width: 200px;
}

.toggle {
    margin-right: 25px;
}

.modeButtonClicked {
    color: #5fbae9;
    pointer-events: none;
}

/* Context menu css */
.element-context-menu {
    width: 180px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

#link-context-menu{
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

.menu-options {
    list-style: none;
    padding: 1px 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.menu-option-delete{
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option-delete:hover{
    background: rgb(144, 0, 32);
    color: white;
}

/* Modals css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

textarea {
    margin-top: 2%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:disabled {
    background:rgb(255, 255, 255);
    cursor: default;
}

.saveButton {
    background-color: #129216;
}

.insertButton {
    background-color: #5fbae9;
}
.cancelButton {
    background-color: red;
}

.radio-inline {
    padding-right: 8px;
}

.label-inline {
    padding-right: 8px;
}

/* Table css */
h1 {
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 750px;
}  