.buttonMargin {
    margin-right: 10px;
    border: 1px solid black;
}

/* Context menu css */
#element-context-menu {
    width: 180px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

#link-context-menu{
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background: white;
    position: fixed;
    z-index: 1;
    display: none;
    overflow: auto;
}

.menu-options {
    list-style: none;
    padding: 1px 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.menu-option-delete{
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu-option-delete:hover{
    background: rgb(144, 0, 32);
    color: white;
}

/* ----- */

/* Modals css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 42%;
}