<h4>Activity Diagrams</h4>

<!-- Main tool bar-->
<div id="toolbox" class="toolbox">
    <button mat-stroked-button color="primary" id="module" class="buttonMargin">Module</button>
    <button mat-stroked-button color="primary" id="addAction" (click)="showModal('action')" class="buttonMargin">Action</button>
    <button mat-stroked-button color="primary" id="addDiamondIf" (click)="showModal('if')" class="buttonMargin">If</button>
    <button mat-stroked-button color="primary" id="addDiamondCase" (click)="showModal('case')" class="buttonMargin">Case</button>
    <button mat-stroked-button color="primary" id="addJoin" class="buttonMargin" (click)="addDiamondJoinToGraph()">Join</button>
    <button mat-stroked-button color="primary" id="addStart" (click)="addStartToGraph()" class="buttonMargin">Start</button>
    <button mat-stroked-button color="primary" id="addEnd" (click)="addEndToGraph()" class="buttonMargin">End</button>
    <button mat-stroked-button color="primary" id="addLoop" class="buttonMargin">Loop</button>

</div>
<br>
<div id="toolbox2" class="toolbox">
    <button mat-stroked-button color="primary" id="generate" class="buttonMargin">Generate code</button>
    <button mat-stroked-button color="primary" id="save" (click)="saveDiagram()" class="buttonMargin">Save diagram</button>
    <button mat-stroked-button color="primary" id="load" (click)="loadDiagram()" class="buttonMargin">Load diagram</button>
    <input type="file" id="jsonUpload" value="Load Diagram">
    <mat-slide-toggle id="paper-mode" #toggle (change)="changeDrawingMode($event)" color="primary">{{toggleCaption}}</mat-slide-toggle>
</div>

<br>

<!-- Context menu for elements -->
<div id="element-context-menu" class="element-context-menu">
    <ul class="menu-options">
        <li class="menu-option" (click)="onShowElementPropertiesClicked()">Show element properties</li>
        <li class="menu-option-delete" (click)="onDeleteElementClicked()">Delete element</li>
    </ul>
</div>

<!-- Context menu for delete option only -->
<div id="delete-context-menu" class="element-context-menu">
    <ul class="menu-options">
        <li class="menu-option-delete" (click)="onDeleteElementClicked()">Delete element</li>
    </ul>
</div>

<!-- Context menu for links -->
<div id="link-context-menu">
    <ul class="menu-options">
        <li class="menu-option" (click)="onShowLinkPropertiesClicked()">Show link properties</li>
    </ul>
</div>

<!-- Modal windows -->
<div id="modalAction" class="modal">
    <div class="modal-content">
        <form>
            <label for="actionCaption">Action caption:</label><br>
            <input #actionCaption type="text" id="actionCaption" name="actionCaption" placeholder="Action caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(actionCaption.value) : addActionToGraph(actionCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalIf" class="modal">
    <div class="modal-content">
        <form>
            <label for="ifCaption">If caption:</label><br>
            <input #ifCaption type="text" id="ifCaption" name="ifCaption" placeholder="If caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(ifCaption.value) : addDiamondIfToGraph(ifCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>

<div id="modalCase" class="modal">
    <div class="modal-content">
        <form>
            <label for="caseCaption">Case caption:</label><br>
            <input #caseCaption type="text" id="caseCaption" name="caseCaption" placeholder="Case caption..." value="{{this.activePaperElementCaption}}">
            <br>
            <input class="saveButton" type="button" value="Confirm" 
                (click)="this.elementEditing ? updateElementCaption(caseCaption.value) : addDiamondCaseToGraph(caseCaption.value)"
            >
            <input class="cancelButton" type="button" value="Cancel" (click)="closeModal()">
        </form>
    </div>
</div>
